
.calcu-border{
    border:2px solid red;
    height: 400px; 
    width: 350px;  
    margin: auto 100px;   
   }
   .input-parent{
       margin:auto;
       margin-top: 17px;
       width: 250px;
   }
   #input{
   width:250px;
   height:50px;
   font-size:40px;
   
   }
   
   
   
   /* input part is close
   button part is start */
   
   
   
   .btn{
       display: grid;
       grid-template-columns:repeat(4,1fr);
       margin-top: 10px;
       border-top:1px solid red;
       height: 317px;
     
   }
   .btn button{
       font-size: 30px;
   }